/*
* Table style
*/
.responsive-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
.responsive-table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }

.responsive-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
.responsive-table th,
.responsive-table td {
    padding: .625em;
    text-align: center;
  }
  
.responsive-table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: #dad2d2;
  }
  
@media screen and (max-width: 600px) {
    .responsive-table {
      border: 0;
    }
    
    .responsive-table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .responsive-table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    .responsive-table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }

    .responsive-table td.no-records-found {
      text-align: center;
    }
    
    .responsive-table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .responsive-table td:last-child {
      border-bottom: 0;
    }
}

/*
* Top Bar Style
*/
.top-bar{
    background-color: black;
    color:white;
    width:100%;
    text-align: center;
    font-size: 3em;
}

/*
* Header Style
*/
.header{
    color:black;
    width:100%;
    text-align: left;
    font-size: 1.7em;
    padding: 1px 1px;
}